{% extends 'base.html' %}

{% block body %}

    <div class='nav_header_container'>
        <header>
            <h1 class='center'>Welcome {{ username }}, to the News App!</h1>
            <p class='center'>Finding the news you want in one location</p>
        </header>
        <nav>
            <ul>
                <li><a href="/index">General</a></li>&nbsp;&nbsp;&nbsp;&nbsp;
                <li><a href='/business'>Business</a></li>&nbsp;&nbsp;&nbsp;&nbsp;
                <li><a href='/tech'>Technology</a></li>&nbsp;&nbsp;&nbsp;&nbsp;
                <li><a href="/games">Video Games</a></li>&nbsp;&nbsp;&nbsp;&nbsp;
                <li><a href='/sign_out'>Sign Out</a></li>
            </ul>
        </nav>
    </div>

    <main>
        <h1 class='center'>Business Section</h1>
        <div class='top_level_column'>

            <!-- This news area is what will contain each news article -->
            {% for article in articles %}
            <div class='news_area'>
                <div>
                    <a href="{{ article['url'] }}"><img class='image_size' src="{{ article['urlToImage'] }}"></a>
                </div>
                <div class='article_info_area'>
                    <h1><a href="{{ article['url'] }}">{{ article['title'] }}</a></h1>
                    <p>{{ article['description'] }}</p>
                </div>
            </div>
            <hr>
            {% endfor %}


        </div>
    </main>

    <footer>
        Copyright &copy; 2017 Mike Cuddy Productions<br>
        <a href="mailto:mcuddy77@gmail.com">mcuddy77@gmail.com</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <p>
            <a href="https://github.com/ravenusmc"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
            <a href="https://twitter.com/"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/in/mcuddy1/"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
            <a href="https://codingsaga.wordpress.com/"><i class="fa fa-book fa-2x" aria-hidden="true"></i></a>
        </p>
    </footer>

{% endblock %}
