{% extends 'base.html' %}

{% block body %}

    <header>
        <h1 class='center'>Welcome {{ username }}, to the News App!</h1>
        <p class='center'>Finding the news you want in one location</p>
    </header>

    <nav>
        <ul>
            <li><a href="/index">General</a></li>&nbsp;&nbsp;&nbsp;&nbsp;
            <li>Business</li>&nbsp;&nbsp;&nbsp;&nbsp;
            <li>Technology</li>&nbsp;&nbsp;&nbsp;&nbsp;
            <li>Video Games</li>
        </ul>
    </nav>

    <main>
        <h1 class='center'>General Section</h1>
        <div class='top_level_column'>

            {% for article in articles %}
            <div class='news_area'>
                <div>
                    <img class='image_size' src="{{ article['urlToImage'] }}">
                </div>
                <div>
                    <p>{{ article['description'] }}</p>
                </div>
            </div>
            {% endfor %}

            <hr>


        </div>
    </main>

{% endblock %}
