/* CSS for Login Page */

#background_image {
  background: url(https://source.unsplash.com/wajusTqz_FI);
  height: 675px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.login_container {
    border-radius: 5px;
    background-color: rgba(50,50,50,0.9);
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

.login_form {
    text-align: center;
}
