/* Generic CSS */

.center {
    text-align: center;
}

nav {
    background-color: #0858d8;
    border-radius: 5px;
}

nav ul {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

nav ul li {
    display: inline;
    font-size: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

footer {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #0858d8;
  border-radius: 5px;
}

hr {
    height: 2px;
    width: 800px;
    background-color: black;
}

/* CSS for Login Page and Sign Up pages */

#background_image {
  background: url(https://source.unsplash.com/wajusTqz_FI);
  height: 675px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.login_container {
    border-radius: 5px;
    background-color: rgba(50,50,50,0.9);
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

.login_form {
    text-align: center;
}

/* CSS for Index page */
header h1 {
    text-transform: uppercase;
}

header p {
    text-transform: uppercase;
}

.top_level_column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

.news_area {
    display: flex;
    flex-direction: row;
}

.image_size {
    width: 300px;
    height: 170px;
}

.article_info_area {
    margin-left: 3%;
}

/* CSS for Media Queries */
@media only all and (max-width: 768px){

    .news_area {
        display: flex;
        flex-direction: column;
    }

    hr {
        height: 2px;
        width: 150px;
        background-color: black;
    }

    .image_size {
        width: 250px;
        height: 141px;
    }

}
